{% extends "base.html" %}
{% block content %}
<h2>Logs</h2>
<p class="note" style="margin:-10px 0 16px">Last 300 lines.</p>
<div class="filters" style="margin-bottom:16px;">
  <a href="/logs?log=pharma" class="btn {{ 'off' if selected_log != 'pharma' }}">Pharma</a>
  <a href="/logs?log=tech" class="btn {{ 'off' if selected_log != 'tech' }}">Tech</a>
  <a href="/logs?log=enrichment" class="btn {{ 'off' if selected_log != 'enrichment' }}">Enrichment</a>
</div>
<pre class="log">{% for line in lines %}{{ line }}
{% endfor %}</pre>
{% endblock %}
